* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    position: fixed;
    top: -20px;
    width: 20%;
    height: 20%;
    left: 8%;
    transform: translateX(-50%, -50%);
}
  .bc, .mc-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
  }
